
*{

	margin:0;
	padding:0;
}

body {

   background: #0074A5 url("../images/background.jpg") repeat-x; 
}

.wrapper {

 width: 1002px;
 margin:0 auto;
 background: #FFFFFF;
 box-shadow: 0 0 5px rgba(0,0,0,1);

} 

.logo{
	
	float: left;
	height: 176px;
	width: 302px;
	background:url("../images/logo.jpg"); 
}
.contacts{
	position: relative;
	left: 82%;
	height: 103px;
	width: 160px;
	background: url("../images/contacts.jpg");
}

.countries{
    float: right;

}
.foto{
    background:url("../images/foto.jpg"); 
    height: 238px;
    border: 1px solid #5196AB;

    clear: both;

}

/*---------------- Выпадающее меню ----------------------*/

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1002px;
    text-align: center;

    
    box-shadow: 0 5px 1px -1px black;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    width: 143px;
}

/* рисуем треугольники (указатели) во вкладках меню */

.triangle1 { /* треугольник для меню "Путешествие"*/
position: absolute; /* Абсолютное позиционирование */
left: 123px; top: 13px; /* Положение треугольника */
border: 2px solid transparent; /* Прозрачные границы */
border-top: 6px solid #E4E4E4; /* Добавляем треугольник */
}

.triangle2 { /* треугольник для меню "Услуги"*/
position: absolute; 
left: 102px; top: 13px; 
border: 2px solid transparent; 
border-top: 6px solid #E4E4E4; 
}

.triangle3 { /* треугольник для меню "Партнерам"*/
position: absolute; 
left: 117px; top: 13px; 
border: 2px solid transparent; 
border-top: 6px solid #E4E4E4; 
}
/*--------------------------------------------------------*/

ul.menu > li > a {
    display: block;
    padding: 6px;
    color: white;
    background-color: #313131;
    text-decoration: none;
    
}
/*
ul.menu > li > a:hover {
    background-color: hsla(0, 0%, 20%, .8);
    }*/
    ul.submenu {
        display: none;
        position: absolute;
        width: 141px;
        top: 32px;
        left: 0;
        background-color: white;
        border-top: 2px solid black;
        box-shadow: 0 10px 5px -5px black;
    }
    ul.submenu > li {
        display: block;
    }
    ul.submenu > li > a {
        display: block;
        padding: 5px;
        color: white;
        background-color: #313131;
        text-decoration: none;
    }
    ul.submenu > li > a:hover {
        text-decoration: underline;

    }

    ul.menu > li:hover > ul.submenu {
        display: block;
    }
    /*------------------------------------------*/
    .menu{

        position: relative;
        z-index: 1;
    } 

    /*-----------------------------------------*/

    .fon {        /* благодаря фону создаем иллюзию одинаковой высоты колонок*/
     width: 1002px;
     background: url("../images/fon.jpg") repeat-y;
     padding: 10px 0;
     box-shadow: 0 8px 4px -4px black;
 }

 .leftColumn{
     width: 21%;
     float: left;
     text-align: center;

 }

 p{
     text-indent: 10px;
     border-bottom: 1px solid #C8CACF;
     
     line-height: 1.5;
     word-spacing: 1px;

     text-align: left;
     padding-left: 3px;
     padding-right: 3px;


 }
 .centerColumn{
     width: 58%;
     float: left;
     visibility: hidden;

 }
 .rightColumn{
     width: 21%;
     float:right;
     text-align: center;
     
 }


 .clear{

   clear: both; 
}

.footer{

    text-align: center;
    color: #CBCFD4;
    padding:10px;
    width: 400px;
    margin:0 auto;
}

